@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "VT323";
  font-size: 50px;
  margin-bottom: 30px;
  color: #fc427b;
  /* padding-left: 40px; */
}

body {
  /* overflow: hidden;  */
}

a {
  text-decoration: none;
}
